name: "gitlab"
services:
  init-certs:
    image: alpine:3.23.2
    container_name: init-certs
    volumes:
      - "./certs:/certs:rw"
      - "../tools:/tools:ro"
    command: >
      /bin/sh -c "apk add --no-cache openssl bash && \
      bash /tools/generate-certs.sh --log-level DEBUG --certs-dir /certs gitlab@gitlab.example.com,registry.example.com maildev@maildev.example.com ldap@ldap.example.com && \
      chown 1000:1000 -R /certs && \
      exit 0"
    
  # This is GITLAB Server instance
  gitlab:
    container_name: gitlab
    image: "gitlab/gitlab-ce:18.3.2-ce.0"
    restart: unless-stopped
    networks:
      net:
        aliases:
          - gitlab.example.com
          - registry.example.com
    depends_on:
      init-certs:
        condition: service_completed_successfully
      openldap:
        condition: service_started
      maildev:
        condition: service_started
    healthcheck:
      test: ["CMD", "/usr/local/sbin/healthcheck"]
      interval: 15m
      timeout: 100s
      retries: 3
      start_period: 15m
    env_file:
      - ./gitlab/gitlab.env
    secrets:
      - ldap_admin_password
      - gitlab_root_password
    ports:
      - "80:80"
      - "443:443"
      - "22:22"
    volumes:
      - "gitlab-config:/etc/gitlab"
      - type: bind
        source: ./gitlab/gitlab.rb
        target: /etc/gitlab/gitlab.rb
      - "gitlab-logs:/var/log/gitlab"
      - "gitlab-data:/var/opt/gitlab"
      - "./certs/gitlab:/etc/gitlab/ssl:ro"
      - "./certs/ca.pem:/etc/gitlab/trusted-certs/ca.pem"
    shm_size: "256m"
  
  # This is RUNNER
  gitlab-runner:
    image: "gitlab/gitlab-runner:v18.3.1"
    container_name: gitlab-runner
    restart: unless-stopped
    environment:
      CI_SERVER_TLS_CA_FILE: "/etc/gitlab-runner/certs/ca.pem"
    networks:
      - net
    volumes:
      - "gitlab-runner-conf:/etc/gitlab-runner"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./certs/gitlab:/certs:ro"
    depends_on:
      gitlab:
        condition: service_started
  
  # MAIL
  maildev:
    container_name: maildev
    image: maildev/maildev:2.2.1
    restart: unless-stopped
    networks:
      net:
        aliases:
          - maildev.example.com
    ports:
      - 1080:1080 # maildev - web application
      - 1025:1025 # will use 'mail:1025' to send emails
    environment:
      NODE_EXTRA_CA_CERTS: /etc/maildev/ssl/ca.crt
      MAILDEV_HTTPS: "true"
      MAILDEV_HTTPS_CERT: /etc/maildev/ssl/cert.pem
      MAILDEV_HTTPS_KEY: /etc/maildev/ssl/key.pem
      MAILDEV_INCOMING_SECURE: "true"
      MAILDEV_INCOMING_CERT: /etc/maildev/ssl/cert.pem
      MAILDEV_INCOMING_KEY: /etc/maildev/ssl/key.pem
      MAILDEV_OUTGOING_HOST: maildev.example.com
      MAILDEV_OUTGOING_SECURE: "true"
      MAILDEV_OUTGOING_CERT: /etc/maildev/ssl/cert.pem
      MAILDEV_OUTGOING_KEY: /etc/maildev/ssl/key.pem
    volumes:
      - "./certs/maildev:/etc/maildev/ssl"
    depends_on:
      init-certs:
        condition: service_completed_successfully
  
  # LDAP
  openldap:
    image: cleanstart/openldap:2.6.10
    restart: unless-stopped
    container_name: openldap
    env_file:
      - ./ldap/ldap.env
    environment:
      LDAP_ORGANISATION: "TechNova Corp"
      LDAP_DOMAIN: "ldap.example.com"
      SSL_CERT_FILE: /etc/openldap/certs/ca.pem
    secrets:
      - ldap_admin_password
      - ldap_gitlab_password
      - ldap_users_password
    tty: true
    entrypoint:
     - slapd
    command:
    -  "-u"
    - "ldap"
    - "-g"
    - "ldap"
    - "-h"
    - "ldap:// ldaps://"
    - "-d"
    - "64"
    - "-F"
    - "/etc/openldap/slapd.d"
    networks:
      net:
        aliases:
          - ldap.example.com
    stdin_open: true
    volumes:
      - "ldap-data:/var/lib/openldap"
      - "ldap-slapd:/etc/openldap/slapd.d:ro"
      - "./certs/ldap:/etc/openldap/certs:ro"
      - "./ldap/ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom"
    ports:
      - "636:636"
    depends_on:
      init-certs:
        condition: service_completed_successfully
  
  phpldapadmin:
    image: phpldapadmin/phpldapadmin:2.3.8
    restart: unless-stopped
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "openldap"
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "8080:80"
    depends_on:
      openldap:
        condition: service_started
    networks:
      net:
        aliases:
          - phpldapadmin.example.com

# Secrets 
secrets:
  ldap_admin_password:
    file: ./secrets/ldap_admin_password.txt
  ldap_gitlab_password:
    file: ./secrets/ldap_gitlab_password.txt
  ldap_users_password:
    file: ./secrets/ldap_users_password.txt
  gitlab_root_password:
    file: ./secrets/gitlab_root_password.txt

# Network
networks:
  net:
    driver: bridge

# Volumes
volumes:
  gitlab-config:
  gitlab-logs:
  gitlab-data:
  gitlab-runner-conf:
  ldap-data:
  ldap-slapd:
