name: "gitlab"
services:
  init-certs:
    image: alpine:3.23.2
    container_name: init-certs
    volumes:
      - "./certs:/certs:rw"
      - "../tools:/tools:ro"
    command: >
      /bin/sh -c "apk add --no-cache openssl bash && \
      bash /tools/generate-certs.sh --log-level DEBUG --certs-dir /certs gitlab@gitlab.example.com,registry.example.com maildev@maildev.example.com openldap@ldap.example.com && \
      bash /tools/generate-certs.sh --log-level DEBUG --certs-dir /certs/phpldapadmin phpldapadmin@phpldapadmin.example.com openldap@ldap.example.com && \
      chown 1001:1001 -R /certs/openldap && \
      exit 0"
    
  # This is GITLAB Server instance
  gitlab:
    container_name: gitlab
    image: "gitlab/gitlab-ce:18.3.2-ce.0"
    restart: unless-stopped
    networks:
      net:
        aliases:
          - gitlab.example.com
          - registry.example.com
    depends_on:
      init-certs:
        condition: service_completed_successfully
      openldap:
        condition: service_started
      maildev:
        condition: service_started
    healthcheck:
      test: ["CMD", "/usr/local/sbin/healthcheck"]
      interval: 15m
      timeout: 100s
      retries: 3
      start_period: 15m
    env_file:
      - ./gitlab/gitlab.env
    ports:
      - "80:80"
      - "443:443"
      - "22:22"
    volumes:
      - "gitlab-config:/etc/gitlab"
      - type: bind
        source: ./gitlab/gitlab.rb
        target: /etc/gitlab/gitlab.rb
      - "gitlab-logs:/var/log/gitlab"
      - "gitlab-data:/var/opt/gitlab"
      - "./certs/gitlab:/etc/gitlab/ssl:ro"
      - "./certs/ca.pem:/etc/gitlab/trusted-certs/ca.pem"
    shm_size: "256m"
  
  # This is RUNNER
  gitlab-runner:
    image: "gitlab/gitlab-runner:v18.3.1"
    container_name: gitlab-runner
    restart: unless-stopped
    environment:
      CI_SERVER_TLS_CA_FILE: "/etc/gitlab-runner/certs/ca.pem"
    networks:
      - net
    volumes:
      - "gitlab-runner-conf:/etc/gitlab-runner"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./certs/gitlab:/certs:ro"
    depends_on:
      gitlab:
        condition: service_started
  
  # MAIL
  maildev:
    container_name: maildev
    image: maildev/maildev:2.2.1
    restart: unless-stopped
    networks:
      net:
        aliases:
          - maildev.example.com
    ports:
      - 1080:1080 # maildev - web application
      - 1025:1025 # will use 'mail:1025' to send emails
    environment:
      NODE_EXTRA_CA_CERTS: /etc/maildev/ssl/ca.crt
      MAILDEV_HTTPS: "true"
      MAILDEV_HTTPS_CERT: /etc/maildev/ssl/cert.pem
      MAILDEV_HTTPS_KEY: /etc/maildev/ssl/key.pem
      MAILDEV_INCOMING_SECURE: "true"
      MAILDEV_INCOMING_CERT: /etc/maildev/ssl/cert.pem
      MAILDEV_INCOMING_KEY: /etc/maildev/ssl/key.pem
      MAILDEV_OUTGOING_HOST: maildev.example.com
      MAILDEV_OUTGOING_SECURE: "true"
      MAILDEV_OUTGOING_CERT: /etc/maildev/ssl/cert.pem
      MAILDEV_OUTGOING_KEY: /etc/maildev/ssl/key.pem
    volumes:
      - "./certs/maildev:/etc/maildev/ssl"
    depends_on:
      init-certs:
        condition: service_completed_successfully
  
  # LDAP
  openldap:
    image: bitnamilegacy/openldap:2.6.10
    restart: unless-stopped
    container_name: openldap
    env_file:
      - ./ldap/ldap.env
    environment:
      BITNAMI_QUIET: "false"
      BITNAMI_DEBUG: "true"
      LDAP_ROOT: "dc=ldap,dc=example,dc=com"
      LDAP_ORGANISATION: "TechNova Corp"
      LDAP_DOMAIN: "ldap.example.com"
      LDAP_ADMIN_PASSWORD_FILE: /run/secrets/ldap_admin_password
      LDAP_ADMIN_DN: "cn=admin,dc=ldap,dc=example,dc=com"
      LDAP_ENABLE_TLS: "yes"
      LDAP_REQUIRE_TLS: "yes"
      LDAP_TLS_CERT_FILE: /opt/bitnami/openldap/certs/cert.pem
      LDAP_TLS_KEY_FILE: /opt/bitnami/openldap/certs/key.pem
      LDAP_TLS_CA_FILE: /opt/bitnami/openldap/certs/ca.pem
      LDAP_EXTRA_SCHEMAS: "cosine, inetorgperson, nis"
    secrets:
      - ldap_admin_password
    tty: true
    networks:
      net:
        aliases:
          - ldap.example.com
    stdin_open: true
    volumes:
      - "ldap-data:/bitnami/openldap"
      - "./certs/openldap:/opt/bitnami/openldap/certs"
      - "./ldap/ldifs:/ldifs:ro"
      - "./ldap/init:/docker-entrypoint-initdb.d"
    ports:
      - "636:1636"
    depends_on:
      init-certs:
        condition: service_completed_successfully

  phpldapadmin:
    image: osixia/phpldapadmin:0.9.0
    restart: unless-stopped
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "#PYTHON2BASH:[{'ldaps://openldap:1636': [{'login': [{'bind_id': 'cn=admin,dc=ldap,dc=example,dc=com'}]}]}]"
      PHPLDAPADMIN_LDAP_CLIENT_TLS: "true"
      PHPLDAPADMIN_LDAP_CLIENT_TLS_REQCERT: "allow"
      PHPLDAPADMIN_LDAP_CLIENT_TLS_CRT_FILENAME: "cert.pem"
      PHPLDAPADMIN_LDAP_CLIENT_TLS_KEY_FILENAME: "key.pem"
      PHPLDAPADMIN_LDAP_CLIENT_TLS_CA_CRT_FILENAME: "ca.pem"
      PHPLDAPADMIN_HTTPS: "true"
      PHPLDAPADMIN_HTTPS_CRT_FILENAME: "cert.pem"
      PHPLDAPADMIN_HTTPS_KEY_FILENAME: "key.pem"
      PHPLDAPADMIN_HTTPS_CA_CRT_FILENAME: "ca.pem"
    ports:
      - "8443:443"
    depends_on:
      openldap:
        condition: service_started
    volumes:
      - "./certs/phpldapadmin/phpldapadmin:/container/service/phpldapadmin/assets/apache2/certs"
      - "./certs/phpldapadmin/openldap:/container/service/ldap-client/assets/certs"
    networks:
      net:
        aliases:
          - phpldapadmin.example.com

# Secrets 
secrets:
  ldap_admin_password:
    file: ./secrets/ldap_admin_password.txt

# Network
networks:
  net:
    driver: bridge

# Volumes
volumes:
  gitlab-config:
  gitlab-logs:
  gitlab-data:
  gitlab-runner-conf:
  ldap-data:
  ldap-slapd:
